customtkinter>=5.2.2
tkinterdnd2>=0.3.0
pypdf>=4.0.0
Pillow>=10.2.0
pytesseract>=0.3.10
reportlab>=4.0.0
pymupdf>=1.23.0
easyocr>=1.7.0
numpy>=1.26.0
torch>=2.0.0
pyhanko[mscapi]>=0.14.0
pywin32>=306
cryptography>=41.0.0
oscrypto>=1.3.0
certifi>=2023.7.22
pyhanko-certvalidator>=0.20.0
pdfplumber>=0.10.0
openpyxl>=3.1.0
pandas>=2.0.0
matplotlib>=3.8.0
python-docx>=1.1.0
